* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6ecf0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

input:focus,
button:focus{
    outline: none;
}

.content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

header#main-header{
    position: relative;
    z-index: 1;
    height: 46px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

header#main-header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul{
    display: flex;
    list-style: none;
}

header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
    margin-left: 30px;
}

header#main-header nav ul li:first-child{
    margin-left: 0;
}

header#main-header nav ul li img{
    margin-right: 7px;
}

header#main-header .side{
    display: flex;
}

header#main-header .side input{
    width: 220px;
    border: 1px solid #e6ecf0;
    height: 34px;
    padding-left: 12px;
    padding-right: 30px;
    border-radius: 16px;
    color: #667581;
    font-size: 12px;
    background: #f5f8fa url('/images/search.svg') no-repeat right 10px center;
}

header#main-header .side img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header .side button{
    background-color: #3bb9e3;
    height: 34px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 16px;
}

.banner {
    height: 380px;
    width: 100%;
    background-color: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bar {
    height: 59px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.bar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 285px;
    height: 100%;
}

.bar .content ul{
    list-style: none;
    display: flex;
    height: 100%;
}

.bar .content ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
}

.bar .content ul li.active::after{
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3bb9e3;
}

.bar .content ul li span{
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

.bar .content ul li strong {
    color: #667580;
    font-size: 18px;
    margin-top: 2px;
}

.bar .content ul li.active strong {
    color: #3bb9e3;
}

.bar .content .actions button {
    border: 1px solid #3bb9e3;
    color: #3bb9e3;
    height: 34px;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
    margin-right: 20px;
}

.bar .content .actions {
    display: flex;
}

.wrapper-content{
    display: flex;
}

.wrapper-content .profile {
    width: 260px;
    transform: translateY(-130px);
}

.wrapper-content .profile .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.wrapper-content .profile h1{
    font-size: 21px;
    color: #1f2226;
    margin-top: 10px;
}

.wrapper-content .profile span{
    font-size: 14px;
    color: #1f2226;
}

.wrapper-content .profile p{
    font-size: 14px;
    color: #1f2226;
    margin-top: 15px;
}

.wrapper-content .profile ul {
    margin-top: 20px;
    list-style: none;
}

.wrapper-content .profile ul.list li {
    font-size: 14px;
    color: #667586;
    display: flex;
    align-items: center;
}

.wrapper-content .profile ul.list li + li{
    margin-top: 5px;
}

.wrapper-content .profile ul.list li img{
    margin-right: 10px;
}

.wrapper-content .profile .widget {
    margin-top: 20px;
}

.wrapper-content .profile .widget strong {
    font-weight: normal;
    color: #3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.wrapper-content .profile .widget strong img{
    margin-right: 5px;
}

.wrapper-content .profile .followers ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.wrapper-content .profile .followers ul li{
    height: 45px;
    width: 45px;
    background: #d0d5d9;
    border-radius: 50%;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
}

.wrapper-content .profile .images ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.wrapper-content .profile .images ul li{
    height: 80px;
    width: 80px;
    background: #d0d5d9;
    border-radius: 8px;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
}